In [ ]:
pip install pyspark

In [ ]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.getOrCreate()

In [35]:
import os
import pandas as pd

parent_dir = os.path.dirname(os.getcwd())
json_path = os.path.join(parent_dir, "data", "raw", "metv.json")

df = pd.read_json(json_path)
df.head(5)

    Open    High    Low   Close  Adj Close  Volume
0  9.500  9.5300  9.500  9.5100     9.5100   14084
1  9.500  9.5000  9.500  9.5000     9.5000     714
2  9.490  9.5000  9.490  9.5000     9.5000    1004
3  9.490  9.4927  9.490  9.4914     9.4914    2056
4  9.505  9.5050  9.505  9.5050     9.5050     150